<nav class="navbar">
    <div class="logo">📦 TMS</div>
    <div class="nav-links-container">
        <div class="user-welcome">Welcome, {{ username }}</div>
        <div class="nav-links">
            <a routerLink="/customer-dashboard" routerLinkActive="active">Home</a>
            <a routerLink="/customer-booking" routerLinkActive="active">Booking Service</a>
            <a routerLink="/customer-tracking" routerLinkActive="active">Tracking</a>
            <a routerLink="/previous-bookings" routerLinkActive="active">Previous Booking</a>
            <a routerLink="/support" routerLinkActive="active">Contact Support</a>
            <a href="javascript:void(0)" (click)="logout()" class="action-button logout-btn">Logout</a>
        </div>
    </div>
</nav>