<nav class="navbar">
    <div class="logo">📦 TMS</div>
    <div class="nav-links-container">
        <div class="user-welcome">Welcome, {{ username }}</div>
        <div class="nav-links">
            <a routerLink="/officer-dashboard" routerLinkActive="active">Home</a>
            <a routerLink="/officer-tracking" routerLinkActive="active">Tracking</a>
            <a routerLink="/delivery-status" routerLinkActive="active">Delivery Status</a>
            <a routerLink="/pickup-scheduling" routerLinkActive="active">Pickup Scheduling</a>
            <a routerLink="/officer-bookings" routerLinkActive="active">Previous Bookings</a>
            <a href="javascript:void(0)" (click)="logout()" class="action-button logout-btn">Logout</a>
        </div>
    </div>
</nav>