:root {
  --primary: #3f72af;
  --primary-light: #112d4e;
  --secondary: #dbe2ef;
  --background: #f9f7f7; /* Very Light Gray */
  --surface: #ffffff; /* White */
  --accent: #112d4e; /* Dark Blue */
  --text: #112d4e; /* Dark Blue */
  --text-light: #3f72af; /* Blue */
  --border: #dbe2ef; /* Light Blue Gray */
  --error: #e74c3c; /* Coral Red */
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft Shadow */
}

// styles.scss
.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: var(--primary); // #3f72af
    --mdc-snackbar-supporting-text-color: var(--surface); // white
    --mat-mdc-snack-bar-button-color: var(--surface);

    .mdc-snackbar__surface {
      border-radius: 8px !important;
      box-shadow: var(--shadow) !important;
    }
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: var(--error); // #e74c3c
    --mdc-snackbar-supporting-text-color: var(--surface);
    --mat-mdc-snack-bar-button-color: var(--surface);

    .mdc-snackbar__surface {
      border-radius: 8px !important;
      box-shadow: var(--shadow) !important;
    }
  }

  .mdc-snackbar__label {
    white-space: pre-line !important;
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  .mat-mdc-snack-bar-action {
    .mdc-button__label {
      font-weight: 600;
    }
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mat-mdc-snack-bar-container {
  animation: slideInDown 0.3s ease-out;
}

.error-snackbar {
  background-color: #f44336 !important; // Red
  color: white !important;
  white-space: pre-line !important;
  text-align: left !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--text);
}
